.App-cart {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
}

.cart_list_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 3px;
    margin: 10px;
}

.remove-from-cart-btn{
}